.drawer-add-task {
    margin-bottom: 45%;
    width: 121%;
}

#add-task-input {
    padding: 5px;
    border-radius: 5px;
    border-bottom: 1px solid teal;
    width: 90%;
}

.task-category-div select {
    margin-top: 15px;
    border: 1px solid black;
    width: 29%;
    border-radius: 3px;
    padding: 1px;
}

.task-category-div {
    display: flex;
    align-items: baseline;
    justify-content: center;
}


#add-task-input {
    /* border: 1px solid black; */
}

#task-date {
    border: 1px solid black;
}

#save-cancel-task {
    position: absolute;
    bottom: 15px;
}

.side-menu-xp-bar {
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 5px;
    border-radius: 2px;
}

.task-progress {
    position: absolute;
    top: 45%;
    left: 30%;
}

.drawer-container {
    z-index: 1000;
    /* position: fixed; */
}

.logout-btn {
    width: 81%;
    position: fixed;
    bottom: 7%;
    color: whitesmoke;
}



.selected-menu {
    background-color: rgba(0, 128, 128, 0.695);
    border-radius: 5px;
    color: whitesmoke !important;
}

/* MEDIA QUEIRES */
@media (min-width:769px) {
    .xp-bar {
        position: fixed;
        right: 3px;
        top: 3px;
    }

    .add-task-modal {
        position: absolute;
    }

    .drawer-container {
        width: fit-content;
    }

    .outlet-container {
        width: -webkit-fill-available;

    }

    .add-task-form-container {
        width: fit-content;
    }

    .add-task-form-container:hover {
        cursor: pointer;

    }

    .add-task-form-container button:hover {
        cursor: pointer;
    }

    .task-form-container {
        width: fit-content;
    }






}