.register-container {
    /* border: 5px solid red; */
    width: fit-content;
    margin-left: 17%;
    margin-top: 7%;
    padding: 1%;

}

.ambition-img {
    position: absolute;
    top: 9%;
    right: 6%;
    height: 550px;
    width: 550px;
}

.register-btn {
    margin-left: 0px;
    width: 320px;
}

.register-txt {
    font-size: 25px;
}

@media (max-width: 768px) {
    .ambition-img {
        display: none;
    }

    .register-container {
        margin-left: 21%;
        margin-top: 17%;
    }

    .register-btn {
        width: 100%;
    }

    .register-txt {
        font-size: 20px;
    }
}